<h4 class="font-weight-bold text-center">Thêm câu hỏi vào đề</h4>
<hr>
<div class="row">
  <h5 class="font-weight-bold ml-4">Danh sách câu hỏi môn Hóa học 12</h5>
  <!-- Search form -->
  <form class="form-inline active-cyan-4 offset-md-8">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Tên câu hỏi"
           aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
  </form>
</div>
<div class="row">
  <div class="container-fluid mr-5" style="overflow-x:auto;">
    <table class="table  table-bordered table-hover mt-2 ">
      <thead style="background: #96a2af">
      <tr>
        <th class="font-weight-bold text-center">STT</th>
        <th class="font-weight-bold text-center">Mã câu hỏi</th>
        <th class="font-weight-bold text-center">Câu hỏi</th>
        <th class="font-weight-bold text-center">Thêm</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">1</td>
        <td class="text-center">001</td>
        <td class="text-center">Kim loại nào sau đây tan được trong dung dịch kiềm dư?</td>
        <td class="text-center"><input type="checkbox"></td>
      </tr>
      <tr>
        <td class="text-center">2</td>
        <td class="text-center">002</td>
        <td class="text-center">CO2tác dụng với lượng dư dung dịch nào sau đây tạo kết
          tủa?
        </td>
        <td class="text-center"><input type="checkbox"></td>
      </tr>
      <tr>
        <td class="text-center">3</td>
        <td class="text-center">003</td>
        <td class="text-center">Este nào sau đây thuộc loại este no, đơn chức, mạch hở?</td>
        <td class="text-center"><input type="checkbox"></td>
      </tr>
      <tr>
        <td class="text-center">4</td>
        <td class="text-center">004</td>
        <td class="text-center">Dung dịch chứa chất nào sau đây không làm đổi màu quỳ tím?
        </td>
        <td class="text-center"><input type="checkbox"></td>
      </tr>
      <tr>
        <td class="text-center">5</td>
        <td class="text-center">005</td>
        <td class="text-center">Thí nghiệm nào sau đây xảy ra ăn mòn điện hóa học?</td>
        <td class="text-center"><input type="checkbox"></td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
      </ul>
    </nav>
    <!--Footer-->
    <div class="modal-footer justify-content-end">
      <a type="button" class="btn btn-outline-success waves-effect">Thêm vào đề</a>
    </div>
  </div>
</div>
