<div class="container-fluid">
  <button class="btn btn-secondary w-100">Header</button>
  <hr>
</div>
<div class="container-fluid justify-content-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-info w-100" type="button">
            Đề thi: {{examName}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mr-5" style="overflow-x:auto;">
    <table class="table  table-bordered table-hover mt-2 ">
      <thead style="background: #96a2af">
      <tr>
        <th class="font-weight-bold text-center">STT</th>
        <th class="font-weight-bold text-center">Mã câu hỏi</th>
        <th class="font-weight-bold text-center">Câu hỏi</th>
        <th class="font-weight-bold text-center">Đáp án</th>
        <th class="font-weight-bold text-center">Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of listQuestionInExam; let i=index">
        <td class="text-center">{{i+1}}</td>
        <td class="text-center">{{element.idQuestion | IdConvertExam: 'CH'}}</td>
        <td>{{element.questionContent}}</td>
        <td>{{element.trueAnswer}}</td>
        <td class="text-center"><input type="checkbox" name="" id="" [(ngModel)]="element.isChecked" (change)="changeSelection()"></td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end row">
      <button class="btn col-md-1 btn-success" (click)="openDialogAddQuestionInExam()">Thêm mới
      </button>
      <div class="mx-1"></div>
      <button class="btn col-md-1 btn-danger" (click)="openDialogDeleteQuestionInExam()" >Xóa
      </button>
      <div class="mx-1"></div>
      <button class="btn col-md-1 btn-secondary" (click)="checkBack()">Đóng</button>
    </div>
    <div  *ngIf="messageDelete == ''; else blockMessageDelete" ></div>
    <ng-template #blockMessageDelete>
      <div class="alert alert-danger mt-1 offset-9" role="alert" >{{messageDelete}}</div>
    </ng-template>
    <div  *ngIf="messageDeleteQuestionSuccess == ''; else DeleteQuestionSuccess" ></div>
    <ng-template #DeleteQuestionSuccess>
      <div class="alert alert-success mt-1 offset-9" role="alert" >{{messageDeleteQuestionSuccess}}</div>
    </ng-template>
    <div  *ngIf="messageAddQuestionSuccess == ''; else AddQuestionSuccess" ></div>
    <ng-template #AddQuestionSuccess>
      <div class="alert alert-success mt-1 offset-9" role="alert" >{{messageAddQuestionSuccess}}</div>
    </ng-template>
    <div  *ngIf="messageAddQuestionErr == ''; else AddQuestionErr" ></div>
    <ng-template #AddQuestionErr>
      <div class="alert alert-danger mt-1 offset-9" role="alert" >{{messageAddQuestionErr}}</div>
    </ng-template>
    <div  *ngIf="messageErrBack == ''; else errBack" ></div>
    <ng-template #errBack>
      <div class="alert alert-danger mt-1 offset-9" role="alert" >{{messageErrBack}}</div>
    </ng-template>
  </div>
</div>
