<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <app-statistics-point></app-statistics-point>
      <app-statistics-member></app-statistics-member>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="mx-auto col-md-12 row">
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'java']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/java.jpg" alt="Java">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Java</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'javascript']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/javascript.jpg" alt="JavaScript">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">JavaScript</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="mx-auto col-md-12 row">
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'html']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/html.jpg" alt="HTML">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">HTML</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'angular']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/angular.jpg" alt="Angular">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Angular</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="card mx-auto" style="border-color: #60a6ff ">
        <div class="card-header text-center"
             style="background-color: #ddeeff; color: #2b68f2; border-color:#60a6ff; font-size: 15px; ">
          Người dùng
        </div>
        <div class="card-body">
          <div *ngIf="token === 'false'">
            <app-login></app-login>
          </div>
          <div *ngIf="token === 'true'">
            <app-logout></app-logout>
          </div>
          <div class="card mt-3" style="border: 1px solid #2b68f2">
            <div class="card-header text-center" style="color: #2b68f2"><i
              class="fas fa-phone"></i>
              Hỗ trợ trực tuyến 24/7
            </div>
            <div class="card-body">

              <div class=" row list-group-item d-flex justify-content-between align-items-center p-1"
                   style="background-color: #ddeeff;height: 40px">
                <div class="badge badge-secondary badge-pill col-12" style="font-size: 14px">0902.XXX.XXX</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
