<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <app-statistics-point></app-statistics-point>
      <div class="card mt-3" style="border: 1px solid #2b68f2">
        <div class="card-header text-center" style="color: #2b68f2"><i
          class="fas fa-phone"></i>
          Hỗ trợ trực tuyến
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center p-1"
                style="height: 40px; background-color: lemonchiffon">
              Trực tuyến
              <span class="badge badge-secondary badge-pill">Chat bot</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-1"
                style="height: 40px; background-color: #ddeeff">
              Đường dây nóng
              <span class="badge badge-secondary badge-pill" style="font-size: 14px">0902.XXX.XXX</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="mx-auto col-md-12 row">
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'java']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/java.jpg" alt="Java">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Java</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'javascript']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/javascript.jpg" alt="JavaScript">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">JavaScript</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="mx-auto col-md-12 row">
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'html']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/html.jpg" alt="HTML">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">HTML</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'angular']">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/angular.jpg" alt="Angular">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Angular</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="card mx-auto" style="border-color: #60a6ff ">
        <div class="card-header" style="background-color: #ddeeff; color: #2b68f2; border-color:#60a6ff ">
          Người dùng
        </div>
        <div class="card-body">
          <div *ngIf="token === 'false'">
            <app-login></app-login>
          </div>
          <div *ngIf="token === 'true'">
            <app-logout></app-logout>
          </div>
          <app-statistics-member></app-statistics-member>
          <div class="m-1" style="background: lightblue; border: 1px solid lightgray">
            <form class="mx-3 mt-3 mb-3 text-center">
              <div class="form-group">
                <label for="search" style="color: #167115"><i class="fas fa-search"> Tìm kiếm</i></label>
                <input type="text" class="form-control ml-1" id="search" placeholder="Tìm kiếm">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


