<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <app-statistics-point></app-statistics-point>
      <div class="card mt-3" style="border: 1px solid #2b68f2">
        <div class="card-header text-center" style="color: #2b68f2"><i
          class="fas fa-phone"></i>
          Hỗ trợ trực tuyến
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center p-1"
                style="height: 40px; background-color: lemonchiffon">
              Trực tuyến
              <span class="badge badge-secondary badge-pill">Chat bot</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-1"
                style="height: 40px; background-color: #ddeeff">
              Đường dây nóng
              <span class="badge badge-secondary badge-pill" style="font-size: 14px">0902.XXX.XXX</span>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-md-6 col-xs-12">
      <div class="mx-auto col-md-12 row">
        <div class="mx-auto col-md-6 p-3">
          <a href="#">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/java.jpg" alt="Java">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Java</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a href="#">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/javascript.jpg" alt="JavaScript">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">JavaScript</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="mx-auto col-md-12 row">
        <div class="mx-auto col-md-6 p-3">
          <a href="#">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/html.jpg" alt="HTML">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">HTML</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a href="#">
            <div class="card">
              <img class="card-img-top" src="../../../assets/home-page/angular.jpg" alt="Angular">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Angular</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="card mx-auto" style="border-color: #60a6ff ">
        <div class="card-header" style="background-color: #ddeeff; color: #2b68f2; border-color:#60a6ff ">
          Người dùng
        </div>
        <div class="card-body">
<!--          <div class="m-1" style="background: #dcf4dc; border: 1px solid lightgray">-->
<!--            <div class="row">-->
<!--              <div class="col-md-6 mr-auto mt-3" style="color: #167115">-->
<!--                <i class="fas fa-sign-in-alt"> Đăng nhập</i>-->
<!--              </div>-->
<!--              <div class="col-md-6 ml-auto mt-3">-->
<!--                <button type="button" class="btn p-0" data-toggle="tooltip" data-placement="top"-->
<!--                        title="Đăng nhập với gmail"><img-->
<!--                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1004px-Google_%22G%22_Logo.svg.png"-->
<!--                  alt="lỗi ảnh"-->
<!--                  style="width: 19px; height: auto;margin-right: 4px;margin-top: -4px;">-->
<!--                </button>-->
<!--                <button type="button" class="btn p-0" data-toggle="tooltip" data-placement="top"-->
<!--                        title="Đăng nhập với facebook">-->
<!--                  <i class="fab fa-facebook fa-lg" style="color: blue"></i></button>-->
<!--              </div>-->
<!--            </div>-->

<!--            <form class="mx-3 mt-3 mb-3">-->
<!--              <div class="form-group">-->
<!--                <label for="user" style="color: #167115">Tài khoản</label>-->
<!--                <input type="text" class="form-control ml-1" id="user" placeholder="Tên tài khoản">-->
<!--              </div>-->
<!--              <div class="form-group mb-4">-->
<!--                <label for="password" style="color: #167115">Mật khẩu</label>-->
<!--                <input type="password" class="form-control ml-1" id="password" placeholder="Mật khẩu">-->
<!--              </div>-->
<!--              <div class="d-flex justify-content-center ">-->
<!--                <button type="button" class="btn btn-primary mx-1 btn-sm">Đăng nhập</button>-->
<!--                <button type="button" class="btn btn-primary ml-1 btn-sm">Đăng ký</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
          <app-statistics-member></app-statistics-member>
          <div class="m-1" style="background: lightblue; border: 1px solid lightgray">
            <form class="mx-3 mt-3 mb-3 text-center">
              <div class="form-group">
                <label for="search" style="color: #167115"><i class="fas fa-search"> Tìm kiếm</i></label>
                <input type="text" class="form-control ml-1" id="search" placeholder="Tìm kiếm">
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


