<div class="container-fluid">
  <button class="btn btn-secondary w-100">Header</button>
  <hr>
</div>

<div class="container-fluid justify-content-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="dropdown">
          <a class="btn btn-info dropdown-toggle" role="button" type="button" data-toggle="dropdown"
             [routerLink]="['/question-list']">
            <i class='fas fa-align-left mr-2'></i>Ngân hàng câu hỏi
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/user/list']">Danh sách thành viên</a></li>
            <li><a class="dropdown-item" [routerLink]="['/exam-list']">Danh sách đề thi</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-5 mt-2 d-flex justify-content-end">
        <div class="col-md-6">
          <div  *ngIf="messageDeleteSuccess == ''; else deleteSuccess" ></div>
          <ng-template #deleteSuccess>
            <div class="alert alert-success" role="alert" >{{messageDeleteSuccess}}</div>
          </ng-template>
          <div  *ngIf="messageAddSuccess == ''; else AddSuccess" ></div>
          <ng-template #AddSuccess>
            <div class="alert alert-success" role="alert" >{{messageAddSuccess}}</div>
          </ng-template>
          <div  *ngIf="messageUpload == ''; else Upload" ></div>
          <ng-template #Upload>
            <div class="alert alert-success" role="alert" >{{messageUpload}}</div>
          </ng-template>
        </div>
        <button class="btn" style="background: black; color: white; height: 30px" [routerLink]="['/upload']">Thêm từ tập tin
          <i class='far fa-file-excel ml-2'></i>
        </button>
        <div class="mx-2"></div>
        <button class="btn mr-2 btn-success" style="height: 30px" (click)="openDialogAddNew()">Thêm mới
        </button>
        <div class="mx-1"></div>
        <button class="btn btn-secondary" style="height: 30px" [routerLink]="['/**']">Đóng</button>
      </div>
    </div>
  </div>
  <div class="container-fluid mr-5" style="overflow-x:auto;">
    <small class="font-weight-bold mt-2" *ngIf="listQuestion != null; else block">Tổng số câu hỏi
      là: {{listQuestion.length}}</small>
    <ng-template #block>
      <small class="font-weight-bold mt-2">Tổng số câu hỏi là: 0</small>
    </ng-template>
    <table class="table mt-4 table-bordered table-hover">
      <thead style="background: #96a2af">
      <tr>
        <th class="font-weight-bold text-center">STT</th>
        <th class="font-weight-bold text-center">Mã câu hỏi</th>
        <th class="font-weight-bold text-center">Câu hỏi</th>
        <th class="font-weight-bold text-center">Phương án trả lời</th>
        <th class="font-weight-bold text-center">Đáp án</th>
        <th class="font-weight-bold text-center">Tác vụ</th>
      </tr>
      </thead>
      <tbody *ngIf="listQuestion; else blockList">
      <tr *ngFor="let element of listQuestion | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
        <td class="text-center">{{i + 1}}</td>
        <td class="text-center">{{element.idQuestion | IdConvert: 'CH'}}</td>
        <td>{{element.questionContent}}</td>
        <td>
          <p class="text-info">{{element.answerA}}</p>
          <p class="text-secondary">{{element.answerB}}</p>
          <p class="text-primary">{{element.answerC}}</p>
          <p class="text-warning">{{element.answerD}}</p>
        </td>
        <td>{{element.trueAnswer}}</td>
        <td class="text-center">
          <button (click)="openDialogEdit(element.idQuestion)" class="btn btn-warning">sửa</button>
          <div class="my-4"></div>
          <button (click)="openDialogDelete(element.idQuestion, i)" class="btn btn-danger">Xóa</button>
        </td>
      </tr>
      </tbody>
      <ng-template #blockList>
        <tbody>
        <tr>
          <td colspan="6"><h4 class="font-weight-bold  text-center">Không có dữ liệu!</h4></td>
        </tr>
        </tbody>
      </ng-template>
    </table>

    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                           nextLabel="Sau"
                           responsive="true"></pagination-controls>
    </nav>
  </div>
</div>
<br>
<br>
<br>
