<div class="col-md-12 mb-1 m-0 p-0 text-center">
  <button type="button" class=" btn btn-info btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom"
          title="Top 5 Vinh Danh" style="height: 28px;width: 57px;border-radius: 0" (click)="showTOP()">Top
  </button>
  <button type="button" class="btn btn-warning btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;border-radius: 0"
          title="Top 5 JavaScript" (click)="showTOPJs()">JavaScript
  </button>
  <button type="button" class="btn btn-danger  btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;border-radius: 0"
          title="Top 5 HTML5" (click)="showTOPHTML5()">HTML5
  </button>
  <button type="button" class="btn btn-primary btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;border-radius: 0"
          title="Top 5 Angular" (click)="showTOPAngular()">Angular
  </button>
  <button type="button" class="btn btn-success btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;width: 57px;border-radius: 0"
          title="Top 5 Java" (click)="showTOPJava()">Java
  </button>
</div>
<div class="card border border-info pb-5 ">
  <div class="row col-md-12  list-group p-0 m-1 pt-2 text-center">
    <label><i style="font-size: 25px" class="fas fa-medal text-info"></i>
      <span *ngIf="code == '0'" class="justify-content-center text-info " style="font-size: 18px"> Top 5 Vinh Danh
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == '1'" class="justify-content-center text-info " style="font-size: 18px"> BXH Top 5 JavaScript
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == '2'" class="justify-content-center text-info " style="font-size: 18px"> BXH Top 5 HTML5
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == '3'" class="justify-content-center text-info " style="font-size: 18px"> BXH Top 5 Angular
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == '4'" class="justify-content-center text-info " style="font-size: 18px"> BXH Top 5 Java
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
    </label>
  </div>
  <ul class=" row list-group border p-1 m-2 text-center" style="background-color: #d6faf8;height: 224px"
      *ngIf="nameTOP.length == 0 && pointTOP.length == 0">
    <h5 style="color: crimson;font-style: italic;margin-top: 45px">Kết quả
      <span style="color: darkblue ;font-weight: bolder;font-size: 18px">TOP 5 Vinh Danh</span>
      đang được chúng tôi cập nhật. Vui lòng quay lại sau!</h5>
  </ul>
  <ul class=" row list-group border p-1 m-1" style="background-color: lightskyblue"
      *ngIf="nameTOP.length > 0 && pointTOP.length > 0">
    <li class="col-md-12 list-group-item list-group-item-danger d-flex px-1">
      <label class="col-md-8 font-weight-bolder" >
        <i class="fas fa-user px-0" style="font-size: 13px"></i> {{nameTOP[0]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end m-0 p-0">
        <i class="col-md-5 fas fa-crown mx-3" style="color: #ffc504;font-size: 17px"></i>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 " style="font-size: 11px;float: right"> {{pointTOP[0]}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item-primary d-flex px-1 m-0">
      <label class="col-md-8 font-weight-bolder"><i class="fas fa-user" style="font-size: 13px"></i> {{nameTOP[1]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end">
        <i class="col-md-5 fas fa-crown mx-3" style="color: grey;font-size: 17px"></i>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 " style="font-size: 11px"> {{pointTOP[1]}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item-success d-flex px-1">
      <label class="col-md-8 font-weight-bolder">
        <i class="fas fa-user" style="font-size: 13px"></i> {{nameTOP[2]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end">
        <i class="col-md-5 fas fa-crown mx-3" style="color: sandybrown;font-size: 17px"></i>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 " style="font-size: 11px"> {{pointTOP[2]}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item-warning d-flex px-1">
      <label class="col-md-8 font-weight-bolder">
        <i class="fas fa-user" style="font-size: 13px"></i> {{nameTOP[3]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end">
        <span class="col-md-7 badge badge-warning badge-pill mr-0 " style="font-size: 11px"> {{pointTOP[3]}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item d-flex px-1">
      <label class="col-md-6 font-weight-bolder">
        <i class="fas fa-user" style="font-size: 13px"></i> {{nameTOP[4]}}
      </label>
      <label class="col-md-6 d-flex justify-content-end">
        <span class="col-md-7 badge badge-warning badge-pill mr-0 " style="font-size: 11px"> {{pointTOP[4]}}</span>
      </label>
    </li>
  </ul>
</div>
