<div class="col-md-12 mb-1 mt-2 m-0 p-0 text-center">
  <button type="button" class=" btn btn-info btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;width: 55px;border-radius: 0"
          title="Top 5 Vinh Danh" (click)="showTOPAll()">Top
  </button>
  <button type="button" class="btn btn-warning btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;border-radius: 0"
          title="Top 5 JavaScript" (click)="showTOPSubject('JavaScript')">JavaScript
  </button>
  <button type="button" class="btn btn-danger  btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;border-radius: 0"
          title="Top 5 HTML5" (click)="showTOPSubject('HTML')">HTML5
  </button>
  <button type="button" class="btn btn-primary btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;border-radius: 0"
          title="Top 5 Angular" (click)="showTOPSubject('Angular')">Angular
  </button>
  <button type="button" class="btn btn-success btn-sm font-weight-bolder" data-toggle="tooltip"
          data-placement="bottom" style="height: 28px;width: 55px;border-radius: 0"
          title="Top 5 Java" (click)="showTOPSubject('Java')">Java
  </button>
</div>
<div class="card border border-info pt-1 ">
  <div class="row col-md-12  list-group p-0 m-1 pt-2 text-center">
    <label><i style="font-size: 25px" class="fas fa-medal text-info"></i>
      <span *ngIf="code == 'TOP'" class="justify-content-center text-info " style="font-size: 18px"> TOP 5 VINH DANH
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == 'JavaScript'" class="justify-content-center text-info " style="font-size: 18px"> BXH JAVASCRIPT
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == 'HTML'" class="justify-content-center text-info " style="font-size: 18px"> BXH HTML5
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == 'Angular'" class="justify-content-center text-info " style="font-size: 18px"> BXH ANGULAR
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
      <span *ngIf="code == 'Java'" class="justify-content-center text-info " style="font-size: 18px"> BXH JAVA
       <i style="font-size: 25px" class="fas fa-medal text-info"></i>
      </span>
    </label>
  </div>
  <ul class=" row list-group border p-1 m-2 text-center" style="background-color: #d6faf8;height: 224px"
      *ngIf="nameTOP.length == 0 && pointTOP.length == 0">
    <h5 style="color: crimson;margin-top: 45px">Kết quả
      <span style="color: darkblue ;font-weight: bolder;font-size: 16px">TOP 5 Vinh Danh</span>
      đang được chúng tôi cập nhật. Vui lòng quay lại sau!</h5>
  </ul>
  <ul class=" row list-group border p-1 m-1" style="background-color: lightskyblue"
      *ngIf="nameTOP.length > 0 && pointTOP.length > 0">
    <li class="col-md-12 list-group-item list-group-item-info d-flex px-1">
      <label class="col-md-8 font-weight-bolder">
        <i class="fas fa-user px-0" style="font-size: 13px"></i> {{nameTOP[0]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end m-0 p-0">
        <i class="col-md-5 fas fa-crown mx-3" style="color: gold ;font-size: 17px"></i>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 "
              style="font-size: 11px;float: right"> {{pointTOP[0]| number: '1.0-2'}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item-danger d-flex px-1">
      <label class="col-md-8 font-weight-bolder">
        <i class="fas fa-user px-0" style="font-size: 13px"></i> {{nameTOP[1]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end m-0 p-0">
        <i class="col-md-5 fas fa-crown mx-3" style="color: gray;font-size: 17px"></i>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 "
              style="font-size: 11px;float: right"> {{pointTOP[1]| number: '1.0-2'}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item-success d-flex px-1">
      <label class="col-md-8 font-weight-bolder">
        <i class="fas fa-user px-0" style="font-size: 13px"></i> {{nameTOP[2]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end m-0 p-0">
        <i class="col-md-5 fas fa-crown mx-3" style="color: coral ;font-size: 17px"></i>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 "
              style="font-size: 11px;float: right"> {{pointTOP[2]| number: '1.0-2'}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item-warning d-flex px-1">
      <label class="col-md-8 font-weight-bolder">
        <i class="fas fa-user px-0" style="font-size: 13px"></i> {{nameTOP[3]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end m-0 p-0">
        <span class="col-md-5 mx-3"></span>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 "
              style="font-size: 11px;float: right"> {{pointTOP[3]| number: '1.0-2'}}</span>
      </label>
    </li>
    <li class="col-md-12 list-group-item list-group-item d-flex px-1">
      <label class="col-md-8 font-weight-bolder">
        <i class="fas fa-user px-0" style="font-size: 13px"></i> {{nameTOP[4]}}
      </label>
      <label class="col-md-4 d-flex justify-content-end m-0 p-0">
        <span class="col-md-5 mx-3"></span>
        <span class="col-md-7 badge badge-warning badge-pill mr-0 "
              style="font-size: 11px;float: right"> {{pointTOP[4]| number: '1.0-2'}}</span>
      </label>
    </li>
  </ul>
  <div class="p-1 text-center">
    <marquee direction="left"  style="height: 40px;
    background:seagreen ;font-family: 'Eras Demi ITC', sans-serif;font-size: 16px ;color: white" scrolldelay="60"
             behavior="loop">
      Đua top vinh danh. Nhận quà xứng đáng !. <i class="fas fa-grin-wink text-warning font-weight-bold"></i> .<i
      class="fas fa-heart text-danger font-weight-bold"></i>. <i
      class="fas fa-grin-wink text-warning font-weight-bold"></i> .<i
      class="fas fa-heart text-danger font-weight-bold"></i>. <i
      class="fas fa-grin-wink text-warning font-weight-bold"></i>.<i
      class="fas fa-heart text-danger font-weight-bold"></i>.
    </marquee>
  </div>
</div>


