<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav topnav mx-auto">
      <li class="nav-item text-center" style="width: 200px">
        <a class="nav-link text-white" href="/">Trang chủ</a>
      </li>
      <li class="nav-item text-center" style="width: 200px">
        <a class="nav-link text-white" href="#">Java</a>
      </li>
      <li class="nav-item text-center" style="width: 200px">
        <a class="nav-link text-white" href="#">JavaScript</a>
      </li>
      <li class="nav-item text-center" style="width: 200px">
        <a class="nav-link text-white" href="#">HTML</a>
      </li>
      <li class="nav-item text-center" style="width: 200px">
        <a class="nav-link text-white" href="#">Angular</a>
      </li>
      <li class="nav-item text-center" style="width: 200px">
        <a class="nav-link text-white" [routerLink]="['/infor-account']">Thông tin</a>
      </li>
    </ul>
  </div>
</nav>
