<div class="m-1 form-horizontal"style="background: rgba(210,211,227,0.19); border: 1px solid lightgray;border-radius:3px">
  <div class="row">
    <div class="col-12 mt-3" style="color: #167115">
     <img src="../../../assets/home-page/user.png" class="center">
<!--     <img src="{{url}}" class="center">-->
      <p class="text-center mt-2"><i class="far fa-hand-peace fa-lg mr-1"></i><b style="font-size: 18px"> Xin chào! </b><i
        class="far fa-hand-peace fa-lg ml-1"></i></p>
    </div>
  </div>

  <div class="form-group row" style="color:#165f08 ">
    <input type="text" class="form-control mx-3 text-center" value="{{username}}" readonly>
  </div>
  <div class="d-flex justify-content-center m-3">
    <button type="button" class="btn btn-secondary" (click)="logout()">Đăng xuất</button>
  </div>

</div>




