<h4 class="font-weight-bold  form-text m-0 p-0 text-dark ">Xác nhận</h4>
<hr class="border-dark">
<div>
  <p class="mb-0 ">Bạn có chắc chắn muốn xóa tài khoản
<!--    <span style="color: #ff1904;font-size: 18px">{{userName}}</span> ?</p>-->
</div>
<div class="row d-flex mt-5">
  <p class="row d-flex mr-3 font-italic" style="color:red;margin-left: 10px ;font-size: 12px">!! Lưu ý thao tác không thể hoàn lại</p>
  <button mat-dialog-close class="btn btn-secondary mr-4 btn-sm" style="width: 80px;margin-left: 90px">Không</button>
  <button   class="btn btn-danger btn-sm " style="width: 80px" (click)="deleteUser()">Có</button>
</div>


