<div class="container-fluid w-50 mt-5 p-5">
  <div class="card border mt-3">
    <h3 class="card-header bg-light"><span class="mx-auto">Đổi thông tin cá nhân</span></h3>
    <div class="card-body">
      <div class="row">
        <form class="col-12 mx-auto" [formGroup]="formEditAccount">
          <div class="form-group row">
            <div class="col-sm-3">
              <label for="name" class="col-form-label">Họ tên <span class="text-danger">(*)</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" formControlName="fullName">
              <p *ngIf="formEditAccount.controls.fullName.errors?.required && formEditAccount.controls.fullName.touched"
                 class="text-danger">Vui lòng nhập tên người dùng</p>
              <p *ngIf="formEditAccount.controls.fullName.errors?.pattern && formEditAccount.controls.fullName.touched"
                 class="text-danger">Tên người dùng không có ký tự đặc biệt (@,!,#,..) và nhỏ hơn 30 ký tự!</p>
            </div>
          </div>
          <div class="form-group row mt-4">
            <div class="col-sm-3">
              <label for="inputEmail" class="col-form-label">Email <span class="text-danger">(*)</span></label>
            </div>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail" formControlName="email">
              <p *ngIf="formEditAccount.controls.email.errors?.required && formEditAccount.controls.email.touched"
                 class="text-danger">Vui lòng nhập email</p>
              <p *ngIf="formEditAccount.controls.email.errors?.pattern && formEditAccount.controls.email.touched"
                 class="text-danger">Tên email phải theo định dạng abc@cde.com!</p>
            </div>
          </div>
          <div class="form-group row mt-4">
            <div class="col-sm-3">
              <label for="address" class="col-form-label">Địa chỉ <span class="text-danger">(*)</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="address" formControlName="address">
              <p *ngIf="formEditAccount.controls.address.errors?.required && formEditAccount.controls.address.touched"
                 class="text-danger">Vui lòng nhập địa chỉ</p>
              <p *ngIf="formEditAccount.controls.address.errors?.pattern && formEditAccount.controls.address.touched"
                 class="text-danger">Tên địa chỉ không có ký tự đặc biệt (@,!,#,..) và nhỏ hơn 30 ký tự!</p>
            </div>
          </div>
          <div class="form-group row mt-4">
            <div class="col-sm-3">
              <label for="phone" class="col-form-label">Số điện thoại <span class="text-danger">(*)</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="phone" formControlName="phoneNumber">
              <p *ngIf="formEditAccount.controls.phoneNumber.errors?.required && formEditAccount.controls.phoneNumber.touched"
                 class="text-danger">Vui lòng nhập số điện thoại</p>
              <p *ngIf="formEditAccount.controls.phoneNumber.errors?.pattern && formEditAccount.controls.phoneNumber.touched"
                 class="text-danger">Số điện thoại bắt đầu bằng 09 hoặc 03 theo sau là 8 số!</p>
            </div>
          </div>
          <div class="form-group row mt-4">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <div class="row">
                <div>
                  <button type="submit" class="btn btn-success ml-3" [disabled]="formEditAccount.invalid" style="width: 121px" (click) = update()>Chấp nhận
                  </button>
                </div>
                <div>
                  <button class="btn btn-primary ml-3" (click)="openDialog()">Đổi mật khẩu</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

