<div class="m-1" style="background: #dcf4dc; border: 1px solid lightgray">
      <div class="row">
        <div class="col-md-6 mr-auto mt-3" style="color: #167115">
          <i class="fas fa-sign-in-alt"> Đăng nhập</i>
        </div>
        <div class="col-md-6 ml-auto mt-3">
          <button type="button" class="btn p-0" data-toggle="tooltip" data-placement="top"
                  title="Đăng nhập với gmail"><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1004px-Google_%22G%22_Logo.svg.png"
            alt="lỗi ảnh" (click)="signInWithGoogle()"
            style="width: 19px; height: auto;margin-right: 4px;margin-top: -4px;">
          </button>
          <button type="button" class="btn p-0" data-toggle="tooltip" data-placement="top"
                  title="Đăng nhập với facebook">
            <i class="fab fa-facebook fa-lg" style="color: blue" (click)="signInWithFB()" k></i></button>
        </div>
      </div>

      <form class="form-signIn mx-3 mt-3 mb-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
            novalidate>
        <div class="form-group">
          <label for="user" style="color: #167115">Tài khoản</label>
          <input type="text" class="form-control ml-1" name="username" placeholder="Tên Đăng Nhập" autofocus=""
                 id="user"
                 autocomplete="off" [(ngModel)]="form.username" required #username="ngModel"/>
          <div class="alert-danger ml-1 small" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">
              Tên Đăng Nhập là bắt buộc.
            </div>
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="password" style="color: #167115">Mật khẩu</label>

          <input type="password" class="form-control ml-1" name="password" placeholder="Mật Khẩu" id="password"
                 autocomplete="off" [(ngModel)]="form.password" required #password="ngModel"/>

          <div class="alert-danger ml-1 small" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">
              Mật Khẩu là bắt buộc.
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center ">
          <button type="submit" class="btn btn-primary mx-1 btn-sm">Đăng nhập</button>
          <button type="button" class="btn btn-primary ml-1 btn-sm">&nbsp;&nbsp;Đăng ký&nbsp;&nbsp;</button>
        </div>
        <div class="alert alert-danger mt-2 small" *ngIf="f.submitted && isLoginFailed">
          Tên Đăng Nhập hoặc Mật Khẩu không đúng.
        </div>
      </form>
    </div>




