<div class="container-fluid" style="background:#f9f4f4">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <app-statistics-point></app-statistics-point>
      <app-statistics-member></app-statistics-member>
    </div>
    <div class="col-md-6 col-xs-12" style="background: white">
      <div class="mx-auto col-md-12 row p-0 zoom">
        <div class="mx-auto col-md-6 p-3 ">
          <a [routerLink]="['exam-list-by-subject/'+'java']">
            <div class="card">
              <img class="card-img-top" src="../../../../assets/home-page/java.jpg" alt="Java">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Java</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'javascript']">
            <div class="card">
              <img class="card-img-top" src="../../../../assets/home-page/javascript.jpg" alt="JavaScript">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">JavaScript</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="mx-auto col-md-12 row p-0">
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'html']">
            <div class="card">
              <img class="card-img-top" src="../../../../assets/home-page/html.jpg" alt="HTML">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">HTML</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="mx-auto col-md-6 p-3">
          <a [routerLink]="['exam-list-by-subject/'+'angular']">
            <div class="card">
              <img class="card-img-top" src="../../../../assets/home-page/angular.jpg" alt="Angular">
              <div class="card-body text-center">
                <h5 class="card-title">
                  <span class="text-decoration-none">Angular</span>
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row" style="margin-left: -9px">
        <h3 class="h3 mt-5">Hướng dẫn mới nhất</h3>
        <div class="firsthomecontent">

          <a href="https://www.javatpoint.com/apache-solr">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/apache-solr/images/apache-solr-home.png"
                                          alt="Apache Solr Tutorial"/>
              <p>Solr</p>
            </div>
          </a>
          <a href="mongodb-tutorial">
            <div class="homecontent"><img class="lazyload" src="https://static.javatpoint.com/images/logo/mongodb.png"
                                          alt="MongoDB tutorial"/>
              <p>MongoDB</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/gimp">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/gimp/images/gimp-home.png"
                                          alt="Gimp Tutorial"/>
              <p>Gimp</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/verilog">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/verilog/images/verilog-home.png"
                                          alt="Verilog Tutorial"/>
              <p>Verilog</p>
            </div>
          </a>

          <a href="https://www.javatpoint.com/phonegap">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/phonegap/images/phonegap-home.png"
                                          alt="PhoneGap Tutorial"/>
              <p>PhoneGap</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/vue-js">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/vue-js/images/vue-js-home.png"
                                          alt="Vue.js Tutorial"/>
              <p>Vue.js</p>
            </div>
          </a>

          <a href="https://www.javatpoint.com/postman">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/postman/images/postman-home.png"
                                          alt="Postman Tutorial"/>
              <p>Postman</p>
            </div>
          </a>
        </div>
        <!-- preparation start -->
        <h3 class="h3 mt-3">Hành trang</h3>
        <div class="firsthomecontent">

          <a href="https://www.javatpoint.com/aptitude/quantitative">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/aptitude/images/quantitative-aptitude-home.png"
                                          alt="Aptitude"/>
              <p>Aptitude</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/reasoning">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/reasoning/images/reasoning-home.png"
                                          alt="Logical Reasoning"/>
              <p>Reasoning</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/verbal-ability">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/verbal-ability/images/verbal-ability-home.png"
                                          alt="Verbal Ability"/>
              <p>Verbal A.</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/interview-questions-and-answers">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/images/logo/interviewhome.png"
                                          alt="Interview Questions"/>
              <p>Interview</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/company-interview-questions-and-recruitment-process">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/interview/images/company-home.jpeg"
                                          alt="Company Interview Questions"/>
              <p>Company</p>
            </div>
          </a>
        </div>
        <!-- trending start -->
        <h3 class="h3 mt-3">Xu hướng công nghệ</h3>
        <div class="firsthomecontent">

          <a href="https://www.javatpoint.com/artificial-intelligence-tutorial">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/ai/images/ai-home.png"
                                          alt="Artificial Intelligence Tutorial"/>
              <p>AI</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/reactjs-tutorial">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/reactjs/images/reactjs-home.png"
                                          alt="ReactJS Tutorial"/>
              <p>ReactJS</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/angular-7-tutorial">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/angular7/images/angular-7-home.png"
                                          alt="Angular 7 Tutorial"/>
              <p>Angular 7</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/blockchain-tutorial">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/blockchain/images/blockchain-home.png"
                                          alt="Blockchain Tutorial"/>
              <p>Blockchain</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/git">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/git/images/git-home.png"
                                          alt="Git Tutorial"/>
              <p>Git</p>
            </div>
          </a>
          <a href="https://www.javatpoint.com/devops">
            <div class="homecontent"><img class="lazyload"
                                          src="https://static.javatpoint.com/tutorial/devops/images/devops-home.png"
                                          alt="DevOps Tutorial"/>
              <p>DevOps</p>
            </div>
          </a>

        </div>

      </div>
      <div style="height: 40px"></div>
    </div>


    <div class="col-md-3 col-xs-12">
      <div *ngIf="token === 'false'">
        <app-login></app-login>
      </div>
      <div *ngIf="token === 'true'">
        <app-logout></app-logout>
      </div>
      <div class="card mt-3" style="border: 1px solid #8c9494">
        <div class="card-header text-center" style="color: #2b68f2"><i
          class="fas fa-phone"></i>
          Hỗ trợ trực tuyến 24/7
        </div>
        <div class="card-body">
          <div class=" row list-group-item d-flex justify-content-between align-items-center p-1"
               style="background-color: #ddeeff;height: 40px">
            <div class="badge badge-secondary badge-pill col-12" style="font-size: 14px">0909.999.999</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="fb-group" data-href="https://www.facebook.com/groups/codegymdanang" data-show-social-context="false" data-show-metadata="true">
      </div>
      <div class="fb-group" data-href="https://www.facebook.com/groups/danangagiledeveloper/" style="margin-bottom: 10px; margin-top: 10px" data-show-social-context="true" data-show-metadata="true"></div>

    </div>
  </div>
<!--  <div class="row mb-2" style="background-color: #909090; color: #fff;font-family: 'Times New Roman'">-->
<!--    <div class="col-1"></div>-->
<!--    <div class="col">-->
<!--      <div class="top10">-->
<!--        <h4>Top Tutorials</h4>-->
<!--        <a href="/html/default.asp">HTML Tutorial</a><br>-->
<!--        <a href="/css/default.asp">CSS Tutorial</a><br>-->
<!--        <a href="/js/default.asp">JavaScript Tutorial</a><br>-->
<!--        <a href="/howto/default.asp">How To Tutorial</a><br>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <div class="top10">-->
<!--        <h4>Top References</h4>-->
<!--        <a href="/tags/default.asp">HTML Reference</a><br>-->
<!--        <a href="/cssref/default.asp">CSS Reference</a><br>-->
<!--        <a href="/jsref/default.asp">JavaScript Reference</a><br>-->
<!--        <a href="/sql/sql_ref_keywords.asp">SQL Reference</a><br>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <div class="top10">-->
<!--        <h4>Top Examples</h4>-->
<!--        <a href="/html/html_examples.asp">HTML Examples</a><br>-->
<!--        <a href="/css/css_examples.asp">CSS Examples</a><br>-->
<!--        <a href="/js/js_examples.asp">JavaScript Examples</a><br>-->
<!--        <a href="/howto/default.asp">How To Examples</a><br>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <div class="top10">-->
<!--        <h4>Web Certificates</h4>-->
<!--        <a href="/cert/default.asp">HTML Certificate</a><br>-->
<!--        <a href="/cert/default.asp">CSS Certificate</a><br>-->
<!--        <a href="/cert/default.asp">JavaScript Certificate</a><br>-->
<!--        <a href="/cert/default.asp">SQL Certificate</a><br>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-1"></div>-->
<!--  </div>-->
</div>










