<div class="container-fluid">
  <button class="btn btn-secondary w-100">Header</button>
  <hr>
</div>
<div class="container-fluid justify-content-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
            <i class='fas fa-align-left mr-2' [routerLink]="['/exam-list']"></i>Danh sách đề thi&nbsp;&nbsp;
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Danh sách thành viên</a></li>
            <li><a class="dropdown-item" [routerLink]="['/question-list']">Ngân hàng câu hỏi</a></li>
            <li><a class="dropdown-item" href="#">TOP</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-5 mt-4 d-flex justify-content-end">
      </div>
    </div>
  </div>
  <div class="container-fluid mr-5" style="overflow-x:auto;">
    <table class="table  table-bordered table-hover mt-2 ">
      <thead style="background: #96a2af">
      <tr>
        <th class="font-weight-bold text-center">STT</th>
        <th class="font-weight-bold text-center">Mã đề thi</th>
        <th class="font-weight-bold text-center">Tên đề thi</th>
        <th class="font-weight-bold text-center">Môn học</th>
        <th class="font-weight-bold text-center">Xóa</th>
        <th class="font-weight-bold text-center">Chi tiết</th>
      </tr>
      </thead>
      <tbody *ngIf="listExam; else blockList">
      <tr *ngFor="let element of listExam | paginate: { itemsPerPage: 8, currentPage: p }; let i=index">
        <td class="text-center">{{i + 1}}</td>
        <td class="text-center">{{element.idExam | IdConvertExam: 'MD'}}</td>
        <td class="text-center">{{element.examName}}</td>
        <td class="text-center">{{element.questions[0].subject.subjectName}}</td>

        <td class="text-center"><input type="checkbox" name="" id="" [(ngModel)]="element.isChecked" (change)="changeSelection()"></td>

        <td class="text-center"><a [routerLink]="['/detail/'+ element.idExam]">Xem</a></td>
      </tr>
      </tbody>
      <ng-template #blockList>
        <tbody>
        <tr>
          <td colspan="6"><h4 class="font-weight-bold  text-center">Không có dữ liệu!</h4></td>
        </tr>
        </tbody>
      </ng-template>
    </table>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                           nextLabel="Sau"
                           responsive="true"></pagination-controls>
    </nav>
    <div class="d-flex justify-content-end row">
      <button class="btn col-md-1 btn-success" (click)="openDialogAdd()">Tạo đề
      </button>
      <div class="mx-1"></div>
      <button class="btn col-md-1 btn-danger" (click)="openDialogDelete()">Xóa
      </button>
      <div class="mx-1"></div>
      <button class="btn col-md-1 btn-secondary">Đóng</button>
    </div>
    <div  *ngIf="message == ''; else blockMessage" ></div>
    <ng-template #blockMessage>
      <div class="alert alert-danger mt-1 offset-9" role="alert" >{{message}}</div>
    </ng-template>
    <div  *ngIf="messageAddSuccess == ''; else blockMessageSuccess" ></div>
    <ng-template #blockMessageSuccess>
      <div class="alert alert-success mt-1 offset-9" role="alert" >{{messageAddSuccess}}</div>
    </ng-template>
    <div  *ngIf="messageDeleteSuccess == ''; else blockDeleteSuccess" ></div>
    <ng-template #blockDeleteSuccess>
      <div class="alert alert-success mt-1 offset-9" role="alert" >{{messageDeleteSuccess}}</div>
    </ng-template>
  </div>
</div>
