<div class="container-fluid">
  <button class="btn btn-secondary w-100">Header</button>
  <hr>
</div>
<div class="container-fluid justify-content-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
            <i class='fas fa-align-left mr-2'></i>Danh sách đề thi&nbsp;&nbsp;
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/user/list']">Danh sách thành viên</a></li>
            <li><a class="dropdown-item" [routerLink]="['/question-list']">Ngân hàng câu hỏi</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-6 mt-2 d-flex justify-content-end">
        <div class="col-md-6">
          <div *ngIf="message == ''; else blockMessage"></div>
          <ng-template #blockMessage>
            <div class="alert alert-danger  " role="alert">{{message}}</div>
          </ng-template>
          <div *ngIf="messageAddSuccess == ''; else blockMessageSuccess"></div>
          <ng-template #blockMessageSuccess>
            <div class="alert alert-success  " role="alert">{{messageAddSuccess}}</div>
          </ng-template>
          <div *ngIf="messageDeleteSuccess == ''; else blockDeleteSuccess"></div>
          <ng-template #blockDeleteSuccess>
            <div class="alert alert-success  "  role="alert">{{messageDeleteSuccess}}</div>
          </ng-template>
        </div>
        <button class="btn col-md-2 btn-success" style="height: 30px" (click)="openDialogAdd()">Tạo đề
        </button>
        <div class="mx-1"></div>
        <button class="btn col-md-2 btn-danger" style="height: 30px" (click)="openDialogDelete()">Xóa
        </button>
        <div class="mx-1"></div>
        <button class="btn col-md-1 btn-secondary" style="height: 30px" [routerLink]="['']">Đóng</button>
      </div>
    </div>
  </div>
  <div class="container-fluid mr-5" style="overflow-x:auto;">
    <div class="my-3"></div>
    <div class="form-inline active-cyan-4 ">
      <small class="font-weight-bold" *ngIf="listExam != null; else block">Tổng số câu hỏi
        là: {{listExam.length}}</small>
      <ng-template #block>
        <small class="font-weight-bold">Tổng số câu hỏi là: 0</small>
      </ng-template>
      <div class="offset-md-8">
      <input  class="form-control form-control-sm w-75 " type="text" placeholder="Tên đề thi" (keyup)="getAllByName()" [(ngModel)]="valueName"
             aria-label="Search">
      <i class="fas fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <div class="my-1"></div>
    <table class="table  table-bordered table-hover ">
      <thead style="background: #96a2af">
      <tr>
        <th class="font-weight-bold text-center">STT</th>
        <th class="font-weight-bold text-center">Mã đề thi</th>
        <th class="font-weight-bold text-center">Tên đề thi</th>
        <th class="font-weight-bold text-center">Môn học</th>
        <th class="font-weight-bold text-center">Xóa</th>
        <th class="font-weight-bold text-center">Chi tiết</th>
      </tr>
      </thead>
      <tbody *ngIf="listExam; else blockList">
      <tr *ngFor="let element of listExam | paginate: { itemsPerPage: 12, currentPage: p }; let i=index">
        <td class="text-center">{{i + 1}}</td>
        <td class="text-center">{{element.idExam | IdConvertExam: 'MD'}}</td>
        <td class="text-center">{{element.examName}}</td>
        <td class="text-center">{{element.questions[0].subject.subjectName}}</td>

        <td class="text-center"><input type="checkbox" name="" id="" [(ngModel)]="element.isChecked"
                                       (change)="changeSelection()"></td>

        <td class="text-center"><a [routerLink]="['/detail/'+ element.idExam]">Xem</a></td>
      </tr>
      </tbody>
      <ng-template #blockList>
        <tbody>
        <tr>
          <td colspan="6"><h4 class="font-weight-bold  text-center">Không có dữ liệu!</h4></td>
        </tr>
        </tbody>
      </ng-template>
    </table>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                           nextLabel="Sau"
                           responsive="true"></pagination-controls>
    </nav>
  </div>
</div>
